@charset "utf-8";
/* CSS Document */


.knight_row {
  background-color: #1C1C1E;
  font-size: 0.9em;
  line-height: normal;
}
.knight_nick {
  text-indent: 10px;

}
.knight_klasa{
  text-indent: 10px;
  width: 90px;
}
.knight_spec{
  text-indent: 10px;
  width: 100px;
}
.knight_rasa{
  width: 70px;
  text-indent: 10px;
}
.knight_rank{
  text-indent: 10px;
  width: 80px;
  color: #777;
}
.knight_look {
  width: 35px;
  text-align: center;
  padding-left: 0px;
  text-indent: 0px;
}
.knight_look a:link, .knight_look a:active, .knight_look a:visited {
  background-image: url(/images/look_0.png);
  background-repeat: no-repeat;
  display: block;
  width: 35px;
  background-position: center center;
  height: 20px;

}
.knight_look a:hover{
  background-image: url(/images/look_1.png);

}